body {
    font-family: Arial;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
 }

 h1 {
    color: #333;
    text-align: center;
 }

 #activity {
    font-style: italic;
    font-size: 24px;
    color: #007bff;
 }